@page "/content"
@layout AdminLayout
@inject NavigationManager NavigationManager

<PageTitle>Content</PageTitle>

<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Reverse="true" Gap="5" Style="margin-top: 0; padding-top: 0;">
    <RadzenButton Variant="Variant.Filled" Text="Create Content" Click=@(args => NavigationManager.NavigateTo("/createcontent")) />
</RadzenStack>

<p>This is the content section</p>

<SectionContent SectionId="AdminLayout.Sections.HeaderBeginning">
    <RadzenSidebarToggle Click="@(() => ToggleSideBar())" />
</SectionContent>

<SectionContent SectionId="AdminLayout.Sections.SideBar">
    <RadzenSidebar @bind-Expanded="@Expanded">
        <div class="rz-p-4">
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Content</RadzenText>
        </div>
        <RadzenTree Style="width: 100%;">

            <RadzenTreeItem Text="Home">
                <Template>
                    @*<img alt="BMW" src="https://upload.wikimedia.org/wikipedia/commons/4/44/BMW.svg" style="width: 20px; margin-right: 8px;"/>*@
                    <RadzenIcon Icon="home"/>
                    <strong>@context.Text</strong>
                </Template>
            </RadzenTreeItem>
        </RadzenTree>
    </RadzenSidebar>
</SectionContent>

@code {

    private void SelectContentType()
    {
        
    }
}