@using ZauberCMS.Core.Content.Commands
<nav class="nav nav-masthead justify-content-center">
    @if (Website != null)
    {
        @foreach (var p in Website.Children.OrderBy(x => x.SortOrder))
        {
            @*active*@
            <a class="nav-link" href="/@p.Url">@p.Name</a>        
        }   
    }
</nav>

@code {
    private Content? Website { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        
        //TODO - This is shite, we need a better way to get content around the site
        Website = await Mediator.Send(new GetContentBySlugCommand { IsRootContent = true, IncludeChildren = true, IgnoreInternalRedirect = true});
    }
}