@using ZauberCMS.Core.Media.Models
@using RenderMode = Microsoft.AspNetCore.Mvc.Rendering.RenderMode
@implements ZauberCMS.Core.Content.Interfaces.IContentBlockView

@if (Content != null && Media != null)
{
    <img src="@(Media.Url)?width=875" alt="@Media.AltTag" class="img-thumbnail img-fluid" />
    <span class="caption text-muted">@(Content.GetValue<string>("Summary"))</span>
}

@code {
    [Parameter] public Content? Content { get; set; }
    public string ContentTypeAlias => "ImageBlock";
    public RenderMode RenderMode => RenderMode.Static;
    private Media? Media { get; set; }
    protected override async Task OnInitializedAsync()
    {
        @if (Content != null)
        {
            var media = await Content.GetMediaItems("Image", Mediator);
            Media = media.FirstOrDefault();
        }
    }

}
