@using RenderMode = Microsoft.AspNetCore.Mvc.Rendering.RenderMode
@implements ZauberCMS.Core.Content.Interfaces.IContentBlockView
@if (Content != null)
{
    <div>
        @((MarkupString)(Content.GetValue<string>("Content") ?? string.Empty))
    </div>
}

@code {
    [Parameter] public Content? Content { get; set; }
    public string ContentTypeAlias => "RTEBlock";
    public RenderMode RenderMode => RenderMode.Static;
}