@using ZauberCMS.Components.Editors.Models
@using ZauberCMS.Components.Editors.Settings
@implements ZauberCMS.Core.Content.Interfaces.IContentProperty
@inherits ListPropertyBaseComponent

@if (SettingsModel.MaxAmount > 0)
{
    <div>
        <RadzenText TextStyle="TextStyle.Caption">Max allowed: @SettingsModel.MaxAmount</RadzenText>
    </div>
}

<RadzenListBox Data="@SettingsModel.Items" 
               Value="@SelectedValues" 
               TValue="DataListItem"
               FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
               FilterOperator="StringFilterOperator.StartsWith"
               AllowFiltering="true"
               TextProperty="Name"
               ValueProperty="Value"
               Multiple="true"
               AllowClear="true"
               Change="@(args => Changed(args))"
               Placeholder="Search" 
               Style="width: 100%; max-height: 400px" />
                    
@code {
    
    public string Name { get; set; } = "Checkbox List";
    public string Alias { get; set; } = "ZauberCMS.CheckboxList";
    public string Icon { get; set; } = "list";
    public string Description { get; set; } = "Checkbox list using manual or custom data";
    public Type? SettingsComponent { get; set; } = typeof(ListPropertySettings);

    private async Task Changed(object args)
    {
        var list = args as IEnumerable<string>;
        await OnChange(list!, true);
    }
    
}