@using Radzen
@using Radzen.Blazor
@using ZauberCMS.Components.Editors.Models
@implements ZauberCMS.Core.Content.Interfaces.IContentProperty
@inherits ListPropertyBaseComponent

@if (SettingsModel.MaxAmount > 0)
{
    <div>
        <RadzenText TextStyle="TextStyle.Caption">Max allowed: @SettingsModel.MaxAmount</RadzenText>
    </div>
}
<RadzenCheckBoxList Data="@SettingsModel.Items" 
                    Value="@SelectedValues" 
                    TValue="string" 
                    Change="@(args => OnChange(args, true))"
                    Orientation="Orientation.Vertical"
                    TextProperty="Name"
                    ValueProperty="Value" />
                    
@code {
    
    public string Name { get; set; } = "Checkbox List";
    public string Alias { get; set; } = "ZauberCMS.CheckboxList";
    public string Icon { get; set; } = "list";
    public string Description { get; set; } = "Checkbox list using manual or custom data";
    public Type? SettingsComponent { get; set; } = typeof(ListPropertySettings);
}