@implements ZauberCMS.Core.Content.Interfaces.IContentProperty

<p>Testing</p>

@code {
    public string Name { get; set; } = "Tags";
    public string Alias { get; set; } = "ZauberCMS.Tags";
    public string Icon { get; set; } = "sell";
    public string Description { get; set; } = "Tags are used for categorising items";
    public Type? SettingsComponent { get; set; }
    public List<string> Scripts { get; set; } = [];
    public List<string> Styles { get; set; } = [];
    
    [Parameter] public string? Value { get; set; } = string.Empty;
    [Parameter] public string? Settings { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    [Parameter] public Content? Content { get; set; }
    [CascadingParameter] public IModalService? ModalService { get; set; }
}