@using System.Text.Json
@using ZauberCMS.Core.Extensions
@using Radzen.Blazor
@implements ZauberCMS.Core.Content.Interfaces.IContentProperty

<RadzenTextBox @ref="TextBox" Value="@Value" ValueChanged="@((string value) => ValueChanged.InvokeAsync(value))"
               ValueExpression="@(() => Value)" class="form-control" />
@if (SettingsModel.MaxLength != null)
{
    <div>
        <RadzenText TextStyle="TextStyle.Caption">Max Length: @SettingsModel.MaxLength</RadzenText>
    </div>
}

@code {
    [Parameter] public string Value { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    [Parameter] public string Settings { get; set; } = string.Empty;
    
    public string Name { get; set; } = "Textbox";
    public string Alias { get; set; } = "Textbox";
    public string Icon { get; set; } = "border_color";
    public string Description { get; set; } = "Standard text box";
    public Type? SettingsComponent { get; set; } = typeof(TextContentSettings);
    
    private TextContentSettingsModel SettingsModel { get; set; } = new();
    private RadzenTextBox? TextBox { get; set; }
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (!Settings.IsNullOrWhiteSpace())
        {
            SettingsModel = JsonSerializer.Deserialize<TextContentSettingsModel>(Settings) ?? new TextContentSettingsModel();
        }
    }
    
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender && TextBox != null && SettingsModel.MaxLength != null)
        {
            TextBox.MaxLength = SettingsModel.MaxLength.Value;
        }
    }
}
