@inherits LayoutComponentBase

<HeadContent>
    <style>
        .rz-dialog-side-position-right {
            width: 600px;
            border-radius: 0;
            margin-left: 30px;
        }
    </style>
</HeadContent>

<RadzenComponents/>
<RadzenLayout>
    <RadzenHeader class="rz-background-color-primary-darker">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="5" Style="height: 100%;">
            <SectionOutlet SectionId="@Sections.HeaderBeginning"/>
            <RadzenIcon Icon="fingerprint"/>
            <RadzenButton Variant="Variant.Text" Text="Content" ButtonStyle="ButtonStyle.Light" Click=@(args => NavigationManager.NavigateTo("/admin/content"))/>
            <RadzenButton Variant="Variant.Text" Text="Media" ButtonStyle="ButtonStyle.Light" Click=@(args => NavigationManager.NavigateTo("/admin/media"))/>
            <RadzenButton Variant="Variant.Text" Text="Settings" ButtonStyle="ButtonStyle.Light" Click=@(args => NavigationManager.NavigateTo("/admin/settings"))/>
            <RadzenButton Variant="Variant.Text" Text="Members" ButtonStyle="ButtonStyle.Light" Click=@(args => NavigationManager.NavigateTo("/admin/members"))/>
        </RadzenStack>
    </RadzenHeader>
    <SectionOutlet SectionId="@Sections.SideBar"/>
    <RadzenBody>
            @Body
    </RadzenBody>
    <SectionOutlet SectionId="@Sections.Footer"/>
</RadzenLayout>


@code {
    internal static class Sections
    {
        internal static SectionOutlet? SideBar = new();
        internal static SectionOutlet? Footer = new();
        internal static SectionOutlet? HeaderBeginning = new();
    }
}

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>