@using ZauberCMS.Core.Plugins
@using ZauberCMS.Core.Sections.Interfaces

@foreach (var nav in NavItems)
{
    <div class="rz-pb-2">
        @if (!nav.Value.Heading.IsNullOrWhiteSpace())
        {
            <div class="rz-px-4 rz-pt-4 rz-pb-1">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">@nav.Value.Heading</RadzenText>
            </div>
        }
        <DynamicComponent Type="@nav.Value.GetType()"/>
    </div>
}

@code {
    [Parameter] public string? SectionAlias { get; set; }
    [Inject] public ExtensionManager ExtensionManager { get; set; } = default!;
    private Dictionary<string, ISectionNav> NavItems { get; set; } = new();

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        var sectionNavs = ExtensionManager.GetInstances<ISectionNav>(true);
        NavItems = sectionNavs.Where(x => x.Value.SectionAlias.Equals(SectionAlias, StringComparison.CurrentCultureIgnoreCase)).ToDictionary();
    }
}