bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/*
/Logs/*
/ZauberCMS.Web/Logs/*

# Exclude all files in /ZauberCMS.Web/wwwroot/media
/ZauberCMS.Web/wwwroot/media/*

# Allow specific media folders
!/ZauberCMS.Web/wwwroot/media/1f096611-621e-4c23-b483-b1ad008b4aa3
!/ZauberCMS.Web/wwwroot/media/078dfd90-1b11-4585-ab00-b1ad008b4b79
!/ZauberCMS.Web/wwwroot/media/498d0c43-d78f-4c9a-9fe0-b1ad008b4b27
!/ZauberCMS.Web/wwwroot/media/754be272-b250-4c6c-8d6f-b1ad008b4b51
!/ZauberCMS.Web/wwwroot/media/aa7f0690-7c39-43a8-a9a4-b1ad008b4ba1

# Ensure all files within these allowed folders are also tracked
!/ZauberCMS.Web/wwwroot/media/1f096611-621e-4c23-b483-b1ad008b4aa3/*
!/ZauberCMS.Web/wwwroot/media/078dfd90-1b11-4585-ab00-b1ad008b4b79/*
!/ZauberCMS.Web/wwwroot/media/498d0c43-d78f-4c9a-9fe0-b1ad008b4b27/*
!/ZauberCMS.Web/wwwroot/media/754be272-b250-4c6c-8d6f-b1ad008b4b51/*
!/ZauberCMS.Web/wwwroot/media/aa7f0690-7c39-43a8-a9a4-b1ad008b4ba1/*

/ZauberCMS.Web/node_modules/*
*/node_modules/*
/ZauberCMS.Web/appsettings.Development.json
/ZauberCMS.Web/wwwroot/is-cache/*
/.vs/*
