bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/*
/Logs/*
/ZauberCMS.Web/Logs/*

/ZauberCMS.Web/wwwroot/media/*
/ZauberCMS.Web/node_modules/*
*/node_modules/*
/ZauberCMS.Web/appsettings.Development.json
