@model ZauberCMS.Core.Shared.Models.PaginatedList<ZauberCMS.Core.Content.Models.Content>

var blockViewPair = blocks.FirstOrDefault(pair => pair.Value.ContentTypeAlias == block.ContentTypeAlias).Value;
if (blockViewPair != null)
{
<div class="py-3">
    <component type="@(blockViewPair.GetType())"
               param-Content="@(block)"
               render-mode="Static"/>
    @*<RenderBlock Content="@(block)" TView="IContentBlockView"/>*@
</div>   
}