@model ZauberCMS.Core.Shared.Models.PaginatedList<ZauberCMS.Core.Content.Models.Content>

@if (Model.TotalPages > 1)
{
    <nav>
        <ul class="pagination">
            @if (Model.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" href="?page=@(Model.PageIndex - 1)">Previous</a>
                </li>
            }

            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" href="?page=@i">@i</a>
                </li>
            }

            @if (Model.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" href="?page=@(Model.PageIndex + 1)">Next</a>
                </li>
            }
        </ul>
    </nav>
}