@implements ZauberCMS.Core.Sections.Interfaces.ISectionDashboard

<h5>Coming Soon....</h5>

@code {
    public string TabName => "Latest Forms";
    public int SortOrder => 0;
    public string SectionAlias => Constants.Sections.FormsSection;

}