@using ZauberCMS.Core.Content.Commands
@inherits LayoutComponentBase

<HeadContent>
    <link rel="stylesheet" href="app.css"/>
    <SectionOutlet SectionId="@Sections.PageHeadContent" />
</HeadContent>

<div class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">ZauberCMS</h3>
                <NavBar Website="@Content" />
            </div>
        </header>

        <main role="main" class="inner cover">
            @Body
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>@(Content?.GetValue<string>("FooterText"))</p>
            </div>
        </footer>
    </div>
</div>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private Content? Content { get; set; } 
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        
        Content = await Mediator.Send(new GetContentCommand { ContentTypeAlias = "website", IncludeChildren = true});
    }

    internal static class Sections
    {
        internal static SectionOutlet? PageHeadContent = new();
    }
}