<ul class="navbar-nav ms-auto py-4 py-lg-0">
    <li class="nav-item">
        <a class="nav-link px-lg-3 py-3 py-lg-4" aria-current="page" href="/">Hello</a>
    </li>
@*@if (Website != null)
{
    @foreach (var p in Website.Children.Where(x => !x.HideFromNavigation).OrderBy(x => x.SortOrder))
    {
        var navLinkClass = "nav-link px-lg-3 py-3 py-lg-4" + (IsPageActive(p.Url) ? " active" : "");

        <li class="nav-item">
            <a class="@navLinkClass" aria-current="page" href="/@p.Url">@p.Name</a>
        </li>
    }
}*@
</ul>