@using ZauberCMS.Core.Content.Commands

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @foreach (var contentItem in BreadcrumbItems.Select((Value, Index) => new { Value, Index }))
        {
            if (contentItem.Index > 0)
            {
                var isLastItem = contentItem.Value.Equals(BreadcrumbItems.Last());
                if (isLastItem)
                {
                    <li class="breadcrumb-item active" aria-current="page">@contentItem.Value.Name</li>
                }
                else
                {
                    <li class="breadcrumb-item">
                        <a href="@contentItem.Value.Url">@contentItem.Value.Name</a>
                    </li>
                }
            }
        }
    </ol>
</nav>

@code {
    [Parameter] public List<Guid> Path { get; set; } = [];
    private IEnumerable<Content> BreadcrumbItems { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        var items = await Mediator.Send(new QueryContentCommand { Ids = Path, AmountPerPage = 10 });
        BreadcrumbItems = items.Items.Reverse();
    }

}