@using ZauberCMS.Core.Content.Interfaces
@using ZauberCMS.StarterSite.Layouts
@implements ZauberCMS.Core.Content.Interfaces.IContentView
@layout MainLayout

<PageTitle>@(Content!.GetValue<string>("PageTitle"))</PageTitle>

<SectionContent SectionId="MainLayout.Sections.PageHeadContent">
    <meta name="description" content="@(Content!.GetValue<string>("MetaDescription"))">
</SectionContent>

<SectionContent SectionId="MainLayout.Sections.PageBreadcrumbContent">
    <div class="container">
        <div class="col-lg-8 col-md-8 mx-auto">
        <BootstrapBreadcrumb Path="Content?.Path"/>
        </div>
    </div>
</SectionContent>

<section class="py-5 container">
    <div class="col-lg-8 col-md-8 mx-auto">
        <h1>@(Content!.GetValue<string>("Heading"))</h1>
        @foreach (var block in ContentBlocks)
        {
            <div class="py-3">
                <RenderBlock Content="@(block)" TView="IContentBlockView"/>
            </div>
        }
    </div>
</section>

@code {

    [Parameter] public Content? Content { get; set; }
    private List<Content> ContentBlocks { get; set; } = [];

    protected override void OnInitialized()
    {
        var blocks = Content!.GetValue<List<Content>>("Content");
        if (blocks != null && blocks.Any())
        {
            ContentBlocks = blocks;
        }
    }

}