@using ZauberCMS.StarterSite.Layouts
@implements ZauberCMS.Core.Content.Interfaces.IContentView

@* This is the layout you want to use *@
@layout MainLayout

@* This is where you set Head/Meta information *@
<PageTitle>@(Content!.GetValue<string>("PageTitle"))</PageTitle>
<SectionContent SectionId="MainLayout.Sections.PageHeadContent">
    <meta name="description" content="@(Content!.GetValue<string>("MetaDescription"))">
</SectionContent>

@* 
    All properties are available through Content.GetValue<string>("") if your value is saved as a type
    then you can call Content.GetValue<MyType>("")
*@

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1>@(Content!.GetValue<string>("Heading"))</h1>
            <div class="lead text-muted">
                @((MarkupString)(Content!.GetValue<string>("Content") ?? string.Empty))
            </div>
        </div>
    </div>
</section>


@code {
    @* This is the content page passed in that matches the url *@
    [Parameter] public Content? Content { get; set; }
}