@tailwind base;
@tailwind components;
@tailwind utilities;

.side-panel {
    overflow: hidden;
}
.side-panel .blazored-modal {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    height: 100%;
    max-width: 1024px;
    width: 100vw;
    margin: 0 0 0 4rem;
    border-radius: 0;
    overflow: auto;
}

.file-drop-zone {
    width: 100%;
    border-radius: 0.5rem;
    border: 3px dotted rgba(17, 24, 39, 0.2509803922);
    display: flex;
    align-items: center;
    margin: 10px 0;
    min-height: 100px;
    justify-content: center;
}

.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    width: 50%;
}

::deep input[type=file] {
    width: 100%;
    padding: 20px;
}

.error-message-container {
    color: red;
    text-align: center;
}

.section-nav-active {
    background-color: rgba(255, 255, 255, 0.12) !important;
    background-image: none !important;
    box-shadow: none !important;
}

.rz-growl {
    width: auto !important;
    max-width: 400px !important;
}

.notextselection{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}