@inherits LayoutComponentBase
@implements ZauberCMS.Core.Membership.Interfaces.IAccountLayout

<HeadContent>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
</HeadContent>

<div style="display: flex; justify-content: center; padding: 20px; align-items: center; height: 100vh; width: 100vw; overflow: hidden;">
    @Body
</div>