@inherits LayoutComponentBase
@using System.Globalization
@using Microsoft.Extensions.Options
@using ZauberCMS.Core.Settings
@implements ZauberCMS.Core.Membership.Interfaces.IAccountLayout


<HeadContent>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</HeadContent>

<div style="display: flex; justify-content: center; align-items: center; height: 100vh; width: 100vw; overflow: hidden;">
    @Body
</div>

<div id="blazor-error-ui" style="display: none" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code
{
    [Inject] public IOptions<ZauberSettings> Settings { get; set; } = null!;
    protected override void OnInitialized()
    {
        var cultureInfo = new CultureInfo(Settings.Value.AdminDefaultLanguage);
        CultureInfo.CurrentCulture = cultureInfo;
        CultureInfo.CurrentUICulture = cultureInfo;
        CultureInfo.DefaultThreadCurrentCulture = cultureInfo;
        CultureInfo.DefaultThreadCurrentUICulture = cultureInfo;
    }
}
