@implements ZauberCMS.Core.Content.Interfaces.IContentView
@layout BlankLayout
<PageTitle>New Install</PageTitle>

<div class="full-page">
    <div class="centered-div text-center">
        <ZauberCMS.Components.Shared.ZauberLogo Styles="height: 100px; margin-bottom: 20px" />
        <p>Looks like you haven't created any content yet. If you are not sure where to start, <a href="/admin">then go to the admin page</a>, and register an account,
            the first user is created as an admin then you will be redirected to the admin section.</p>
        <p>Then make sure you <a href="https://aptitude.gitbook.io/zaubercms" target="_blank">check out our documentation and videos</a>, they show you everything you
            need to know about building your first website.</p>
    </div>
</div>

@code {
    [Parameter] public Content? Content { get; set; }
    [Parameter] public Dictionary<string, string>? LanguageKeys { get; set; }
}



