@using Microsoft.AspNetCore.Http
@implements ZauberCMS.Core.Content.Interfaces.IContentView
@layout BlankLayout

<PageTitle>404 Missing Page</PageTitle>

<div class="text-center">
    <h3>Whooops, we can't find that page!</h3>
</div>

@code {
    [CascadingParameter] private HttpContext? HttpContext { get; set; } = default!;
    protected override void OnInitialized()
    {
        if (HttpContext != null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;    
        }
    }

    [Parameter] public Content? Content { get; set; }
    [Parameter] public Dictionary<string, string>? LanguageKeys { get; set; }
}