@using Microsoft.AspNetCore.Http
@layout BlankLayout

<PageTitle>404 Missing Page</PageTitle>

<div class="text-center">
    <h3>Whooops, we can't find that page!</h3>
    <p>Have a 404 component in appSettings</p>
</div>

@code {
    [CascadingParameter] private HttpContext? HttpContext { get; set; } = default!;
    protected override void OnInitialized()
    {
        if (HttpContext != null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;    
        }
    }
}