@inherits ZauberCMS.Core.Rendering.ZauberViewPage<ZauberCMS.Core.Content.Models.Content>
@model ZauberCMS.Core.Content.Models.Content

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Model.Name @Model.DateCreated.ToLongDateString()</p>
    <p>@CurrentPage?.Name @CurrentPage?.DateCreated.ToLongDateString()</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>