@page "/SortContent/{ContentId:guid}"
@using TupleExtensions = ZauberCMS.Core.Extensions.TupleExtensions

<SortableList Id="SortContentItems" Items="@Content" OnUpdate="@SortList" Context="item">
    <SortableItemTemplate>
        <div>
            <PickerItem Text="@item.Name"/>
        </div>
    </SortableItemTemplate>
</SortableList>

<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Right" AlignItems="AlignItems.Center" class="rz-mt-3">
    <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Success" Icon="save" Text="Save" Click="Save"/>
</RadzenStack>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    [Parameter] public Guid ContentId { get; set; }
    [Parameter] public List<Content> Content { get; set; } = [];
    
    private void SortList((int oldIndex, int newIndex) indices)
    {
        TupleExtensions.SortList(indices, Content);
        StateHasChanged();
    }

    private async Task Save()
    {
        @for (var i = 0; i < Content.Count; i++)
        {
            var content = Content[i];
            content.SortOrder = i + 1;
        }
        
        await BlazoredModal.CloseAsync(ModalResult.Ok(Content));
    }
}