@model ZauberCMS.Web.Views.Shared.Components.Navbar.NavBarModel

<ul class="navbar-nav ms-auto py-4 py-lg-0">
    @if (Model.Website != null)
    {
        @foreach (var p in Model.Website.Children.Where(x => x is { HideFromNavigation: false, Deleted: false }).OrderBy(x => x.SortOrder))
        {
            var navLinkClass = "nav-link px-lg-3 py-3 py-lg-4" + (Model.CurrentPath == $"/{p.Url}" ? " active" : "");

            <li class="nav-item">
                <a class="@navLinkClass" aria-current="page" href="/@p.Url">@p.Name</a>
            </li>
        }
    }
</ul>