@using Humanizer
@using ZauberCMS.Core.Extensions
@inherits ZauberCMS.Core.Rendering.ZauberViewPage<ZauberCMS.Web.Blog.Models.BlogPageViewModel>

<header class="masthead" style="background-image: url('@(Model.HeaderImage?.Url)')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>@(Model.GetValue<string>("Heading"))</h1>
                    <h2 class="subheading">@(Model.GetValue<string>("SubHeading"))</h2>
                    <span class="meta">Posted @Model.DateCreated.Humanize()</span>
                </div>
            </div>
        </div>
    </div>
</header>

<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @await Component.InvokeAsync("RenderBlocks", new { blocks = Model.ContentBlocks, cssSeparatorClasses = "py-3" })
            </div>
        </div>
    </div>
</article>