<ul class="navbar-nav ms-auto mb-2 mb-lg-0">

    @if (Website != null)
    {
        @foreach (var p in Website.Children.Where(x => !x.HideFromNavigation).OrderBy(x => x.SortOrder))
        {
            var navLinkClass = "nav-link" + (IsPageActive(p.Url) ? " active" : "");
            
            <li class="nav-item">
                <a class="@navLinkClass" aria-current="page" href="/@p.Url">@p.Name</a>
            </li>
        }
    }

</ul>

@code {
    [Parameter] public Content? Website { get; set; }
    bool IsPageActive(string? pageUrl)
    {
        var uri = NavigationManager.ToAbsoluteUri($"/{pageUrl}");
        return uri.AbsolutePath == NavigationManager.Uri;
    }
}