@implements ZauberCMS.Core.Content.Interfaces.IContentView
@layout MainLayout
<PageTitle>@Content?.Name</PageTitle>

<SectionContent SectionId="MainLayout.Sections.PageHeadContent">
    <meta name="description" content="">
</SectionContent>

@if (Content != null)
{
    <p>No one should see this template</p>
}
else
{
    <p>This needs to be a 404 page</p>
}

@code {
    [Parameter] public Content? Content { get; set; }
}