@implements ZauberCMS.Core.Content.Interfaces.IContentView
@layout MainLayout
<PageTitle>@Content?.Name</PageTitle>

<SectionContent SectionId="MainLayout.Sections.PageHeadContent">
    <meta name="description" content="">
</SectionContent>


<p>No one should see this template</p>


@code {
    [Parameter] public Content Content { get; set; } = default!;
}

