@{
    Layout = "_ZauberLayout";
}

@section Head {
    <title>New Site</title>
    <style>
        .full-page {
            font-size: 1.1rem !important;
            background-image: url('_content/ZauberCMS.Components/img/hat.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.5); /* For slight transparency */
        }

        .centered-div {
            background-color: rgba(255, 255, 255, 0.9); /* White background with slight transparency */
            max-width: 600px;
            padding: 25px 25px;
            margin: 0 10px;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
    </style>
}

<div class="full-page">
    <div class="centered-div text-center">
        <component type="@(typeof(ZauberCMS.Components.Shared.ZauberLogo))"
                   param-Styles="@("height: 100px; margin-bottom: 20px")"
                   render-mode="Static"/>
        <p>Looks like you haven't created any content yet. If you are not sure where to start, <a href="/admin">then go to 
                the admin page</a>, and register an account,
            the first user is created as an admin then you will be redirected to the admin section.</p>
        <p>Then make sure you <a href="https://aptitude.gitbook.io/zaubercms" target="_blank">check out our documentation 
            and videos</a>, they show you everything you need to know about building your first website.</p>
    </div>
</div>
