@page "/admin/settings/languages"
@using ZauberCMS.Core.Audit.Commands
@using ZauberCMS.Core.Audit.Models
@layout SectionLayout

<PageTitle>Languages</PageTitle>

<p>TODO</p>

@code {
    [CascadingParameter] protected SectionLayout? Layout { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        Layout?.SetSection(Constants.Sections.SettingsSection);
    }
}