@using ZauberCMS.Components.Admin.Trees
@using ZauberCMS.Core.Shared.Interfaces
<div>Choose where to move @Item.Name to in the tree structure below</div>

<EditorRow>
    <CentreColumn>
        @if (Item is Content)
        {
            <ContentTree ValueChanged="OnValueChangedHandler" DisableContextMenu="@(true)"/>    
        }
        else
        {
            <MediaTree ValueChanged="OnValueChangedHandler" DisableContextMenu="@(true)"/>
        }
        
    </CentreColumn>
</EditorRow>


<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Right" AlignItems="AlignItems.Center" class="rz-mt-3">
    <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Success" Icon="save" Text="Save" Click="Save"/>
</RadzenStack>


@code {
    [Parameter, EditorRequired] public IBaseItem Item { get; set; } = null!;
    [Parameter] public Guid? ParentId { get; set; }

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = null!;
    private void OnValueChangedHandler(object value)
    {
        if (value is IBaseItem baseItem)
        {
            if (baseItem.Id != Item.Id)
            {
                ParentId = baseItem.Id;   
            }
        }
    }

    private async Task Save()
    {
        await BlazoredModal.CloseAsync(ModalResult.Ok(ParentId ?? Guid.Empty));
    }
}