<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">
    <link rel="stylesheet" href="ZauberCMS.Web.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <HeadOutlet />
</head>

<body>
<Routes @rendermode="InteractiveServer" />
<script src="_framework/blazor.web.js"></script>
<script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
</body>

</html>

@*@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    // Set the Admin to InteractiveServer but use SSR for rest of site
    private IComponentRenderMode? RenderModeForPage =>
        HttpContext.Request.Path.StartsWithSegments("/admin", StringComparison.OrdinalIgnoreCase)
            ? InteractiveServer
            : null;
}*@