<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    @if (Configuration.GetValue<bool>("Zauber:UseRadzen") || IsAdmin)
    {
        <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
        <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">
    }
    <HeadOutlet @rendermode="RenderModeForPage" />
</head>

<body>

<CascadingValue Value="IsAdmin">
    <Routes @rendermode="RenderModeForPage"/>
</CascadingValue>

<script src="_framework/blazor.web.js"></script>
@if (Configuration.GetValue<bool>("Zauber:UseRadzen") || IsAdmin)
{
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Colors).Assembly.GetName().Version)"></script>
}
</body>

</html>

@code {
    [Inject] public IConfiguration Configuration { get; set; } = default!;
    
    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;
    private bool IsAdmin => HttpContext.Request.Path.StartsWithSegments(Constants.Urls.AdminBaseUrl, StringComparison.OrdinalIgnoreCase);

    // Set the Admin to InteractiveServer but use SSR for rest of site
    private IComponentRenderMode? RenderModeForPage => IsAdmin ? InteractiveServer : null;
}