.side-panel {
  overflow: hidden;
  .blazored-modal {
    position: absolute;
    bottom: 0;
    right: 0;
    top:0;
    height: 100%;
    max-width: 1024px;
    width: 100vw;
    margin: 0 0 0 4rem;
    border-radius: 0;
    overflow: auto;
  }
}