<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    @if (IsAdmin)
    {
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">
        @* Need to figure out how we can get these a better way *@
        <link rel="stylesheet" href="_content/ZauberCMS.Components/ZauberCMS.Components.bundle.scp.css">
        <link rel="stylesheet" href="_content/ZauberCMS.Components/css/admin.css">
        <link rel="stylesheet" href="_content/Blazored.Modal/Blazored.Modal.bundle.scp.css">
    }
    <HeadOutlet @rendermode="RenderModeForPage"/>
</head>

<body>

<CascadingValue Value="IsAdmin">
    <Routes @rendermode="RenderModeForPage"/>
</CascadingValue>

<div id="reconnect-modal" style="display: none;"></div>
<script src="_framework/blazor.web.js"></script>
<script src="_content/ZauberCMS.Components/js/boot.js"></script>
@* https://learn.microsoft.com/en-us/aspnet/core/blazor/fundamentals/signalr?view=aspnetcore-8.0#automatically-refresh-the-page-when-server-side-reconnection-fails *@
@if (IsAdmin)
{
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Colors).Assembly.GetName().Version)"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.3/Sortable.min.js"></script>
}
</body>

</html>

@code {

    private bool IsAdmin
    {
        get
        {
            // Get the relative path from the NavigationManager's URI
            var absoluteUri = new Uri(NavigationManager.Uri);
            var requestPathSpan = absoluteUri.LocalPath.AsSpan();
            return requestPathSpan.StartsWith(Constants.Urls.AdminBaseUrl, StringComparison.OrdinalIgnoreCase);
        }
    }

    // Set the Admin to InteractiveServer but use SSR for rest of site
    private IComponentRenderMode? RenderModeForPage => IsAdmin ? InteractiveServer : null;
}